* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  background-color: rgb(84, 35, 231);
}

html {
  scroll-behavior: smooth;
}

section > h3 {
  padding-left: 28px;
}

.git-link{
  color: #000;
}
footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: row-reverse;
  justify-content: center;
  color: #fff;
}

.git-link {
  color: #fff;
}
@media (max-width: 480px) {

  .hero {
    margin-bottom: 200px;
  }
  .hero-title {
    margin-top: 200px;
    color: #fff;
    font-size: 3rem;
  }

  .footer-page p {
    color: #fff;
    margin-top: 80px;
  }

  .mentor {
    text-align: center;
  }
}
