.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 18px;
  height: 60vh;
  text-align: center;
  margin-bottom: 120px;
}

.hero-container {
  flex: 1;
  margin-bottom: 32px;
  padding: 20px 5%;
  margin-right: 16px;
  
}

.hero-title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1px;
  color: #fff;
}

.hero-info {
  margin-bottom: 24px;
}

.hero-info p{
  font-size: 1rem;
  font-weight: 400;
  font-size: 18px;
  color:  rgba(255, 255, 255, 0.6);

}

.about-user{
  font-weight: 300;
  letter-spacing: 1px;
  color:  rgb(255, 255, 255);
  text-align: left;
  margin-bottom: 12px;
}

.about-msg {
  max-width: 500px;
}

.hero-buttons{
  display: inline-block;
  margin-bottom: 200px;
  padding-bottom: 4px;
  padding-right: 4px;
}

.hero-buttons a {
  text-decoration: none;
  color: #fff;
}

.linkedin-btn {
  background-color: rgb(84, 35, 231);;
  color: #fff;
  padding: 11px 18px;
  font-size: 0.95rem;
  vertical-align: middle;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}
.linkedin-btn:hover {
  box-shadow: 1px 1px 4px  #0d6dfd74;
}

.github-btn {
  background-color: rgb(84, 35, 231);;
  color: #fff;
  padding: 11px 18px;
  font-size: 0.95rem;
  vertical-align: middle;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.grid-temp {
  display: grid;
  grid-template-columns:80px 1fr;
  color: #fff;
}

.grid-temp img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.info {
  color: rgba(255, 255, 255, 0.6);

/* ===========================
   PROJECTS
   ===========================
*/
